body{
    margin: 0;
    /* This font seems to auto bold but it looks nice so I'll keep it*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero,
.footer{
    background-color: #1F2937;
    margin: 0;
}

.hero{
    padding: 0 64px;
    padding-bottom: 96px;
}

.hero-1{
    display: flex;
    justify-content: space-between;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    align-self: center;
}

.hero ul{
    display: flex;
    gap: 24px;
}

.hero li,
.secondary-text{
    color: #E5E7EB;
    font-size: 18px;
}

.hero li{
    list-style: none;
}

.secondary-text{
    flex: 1;
    flex-wrap: wrap;
}

.hero-2{
    display: flex;
    justify-content: space-evenly;
}

.hero h1{
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

.sign-up{
    background-color: #3882F6;
    color: white;
    padding: 8px;
    border-radius: 12px;
}

img{
    width: 500px;
    height: auto;
}

.box{
    width: 150px;
    height: 150px;
    border: 2px solid #3882F6;
    border-radius: 12px;
}

.random-info{
    padding: 96px;
}

.random-info h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.info-pieces-container{
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    margin: auto;
}

.info-text{
    width: 150px;
    text-align: center;
}

.inspiring-quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 96px;
}

.quote-container{
    width: 1000px;
}

.quote{    
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    margin: 0;
}

.quoter{
    font-size: 36px;
    text-align: end;
    margin: 0;
}

.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 96px;
}

.blue-banner{
    background-color: #3882F6;
    border-radius: 12px;
    display: flex;
    gap: 24px;
    width: 800px;
    height: 100px;
    padding: 24px;
    align-items: center;
    justify-content: space-evenly;
    color: #F9FAF8;
}

.banner-button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    font-weight: bold;
    border-radius: 12px;
    height: max-content;
    padding: 8px;
}

.banner-title{
    font-size: 24px;
    margin: 2px;
}

.banner-desc{
    font-size: 18px;
    margin: 2px;
}

.footer{
    padding: 24px;
}

.copyright{
    color: #F9FAF8;
    text-align: center;
}